<template name="editArticle">
    {{#with article}}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6">
                        <input id="articleTitle" class="form-control xeditable-h1" type="text" placeholder="请输入文章标题"
                               value="{{title}}"/>
                        <!--<h1 id="articleTitle" data-type="text" data-rows="1" data-inputclass="xeditable-h1"-->
                        <!--data-placeholder="请输入文章标题" data-emptytext="点击添加文章标题"> {{ title }} </h1>-->
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <button id="preview" type="submit" class="btn btn-default">预览</button>
                            <button id="edit" type="submit" class="btn btn-default">撰写</button>
                            <button id="submit" type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="edit-area" class="row">
                    <div class="col-md-12" style="font-size: 20px;">
                        {{> CodeMirror options=editorOptions reactiveVar="articleBody"}}
                    </div>
                </div>
                <div id="preview-area" class="row">
                    <div class="col-md-12" style="word-wrap: break-word">
                        {{#markdown}}{{ markdownData }}{{/markdown}}
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
</template>