<template name="showArticle">
    <div class="row">
        <div class="template-home col-md-10 col-md-offset-1">
            {{# with article}}
                <div class="page-header">
                    <h1> {{ title }} </h1>
                    <span>{{ dateformat createdAt }}</span>
                    <!--<span>by {{ authorName }}</span>-->
                </div>
                <p>
                    {{#markdown}}{{ body }}{{/markdown}}
                </p>
            {{/with}}
        </div>
    </div>
</template>